@import "reset.css";
@import "variables.css";
@import "menu.css";

section {
  width: 100vw;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color-background);
}

main {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color-background);
}

main form {
  gap: 5em;
  padding: 5em;
  height: 65vh;
  display: grid;
  position: relative;
  border-radius: 0.5em;
  grid-template-rows: 5em 5em 5em;
  grid-template-columns: 20em 20em 20em;
  background-color: var(--primary-color-white);
}

main form div input,
select {
  width: 90%;
  height: 50%;
  padding-left: 1em;
  border-radius: 0.5em;
  color: var(--primary-color-black);
  background-color: var(--primary-color-background);
}

main form div select:required:invalid {
  font-weight: lighter;
  color: rgb(51, 50, 50);
}

main form div[value=""][disabled] {
  display: none;
}

main form button {
  left: 71%;
  width: 20%;
  bottom: 15%;
  height: 3em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  padding: 0.5em 1em;
  position: absolute;
  border-radius: 0.5em;
  text-transform: uppercase;
  color: var(--primary-color-white);
  background-color: var(--color-green);
}

main form button:active {
  transform: scale(0.98);
}

main form button:hover {
  box-shadow: -3px 9px 29px -15px rgba(0, 0, 0, 0.42);
}
