{% macro head(title, css, js) %}

<head lang="pt-BR">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}} - EdControle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{url_for('.static', filename='css/{0}'.format(css)) }}" />
    {% if js %}
    <script src="{{url_for('.static', filename='js/{0}'.format(js))}}" defer></script>
    {% endif %}
    <script src="https://kit.fontawesome.com/8544c965ee.js" crossorigin="anonymous"></script>
</head>

{% endmacro %}