:root{ /* Variáveis */

     /* Cores primárias */
     --primary-color-black: #000000;
     --primary-color-background: #f3eff5;
     --primary-color-white: #ffff;
     --primary-color-interface: #2E282A;
     --color-green: #23CE6B;
     

     /* Fontes */
    /* --open-sans: 'Open Sans', sans-serif; */ 

    /* 
    #b80c09 
    #0E9594
    
    */
}