:root{ /* Variáveis */

     /* Cores primárias */
     --primary-color-black: #000000;
     --primary-color-white: #FFFFFF;
     --primary-color-orange: #F25221;
     
     /* cores secundárias */
     --secondary-color-orange-dark: #BC3E16;

     /* Fontes */
     --open-sans: 'Open Sans', sans-serif;

}