<!DOCTYPE html>
<html>
<head lang="pt-BR">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Remover Produto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="screen"
    href="{{url_for('static', filename='css/delete_products.css')}}" />
  <script src="{{url_for('static', filename='js/input.js')}}"></script>
  <script src="https://kit.fontawesome.com/8544c965ee.js" crossorigin="anonymous"></script>
</head>
<body>
  <section>
    <header>
      <img src="{{url_for('static', filename='image/logo.png')}}" alt="Logo Include" />
      {% if session['cargo'] != ['gerente', 'administrador'] %}
      <nav>
        <ul>
          <li><a href="/list_products">CONSULTAR ESTOQUE</a></li>
          <li><a href="/insert_products">CADASTRAR PRODUTO</a></li>
          <li><a href="/insert_seller">CADASTRAR VENDEDOR</a></li>
          <li><a href="/delete_products">REMOVER PRODUTO</a></li>
        </ul>
      </nav>
      {% endif %}
      <div class="fa-solid fa-right-from-bracket">
        <a href="/logout">Sair</a>
      </div>
    </header>
    <main>
      <h1>REMOVER PRODUTO</h1>
      <form action="/delete_products" method="GET" id="form">
        <div class="formulario">
            <div><label for="id1">Código do produto</label><input name="id1" type="text" id="id1"></div>
            <div><label for="quantity1">Quantidade</label><input name="quantity1" type="text" id="quantity1"/></div>
            <div><label for="removal1">Motivo da remoção</label><input name="removal1" type="text" id="removal1"/></div>
        </div>
        <div class="button-group">
          <button type="button" onclick="AddInput()">ADICIONAR OUTRO PRODUTO</button>
          <button type="submit">CADASTRAR</button>
        </div>
      </form>
    </main>
  </section>
</body>
</html>