{% import "componets.html" as componets %}
<!DOCTYPE html>
<html>
  {{ componets.head("Página inicial", "index.css", "passwordText.js") }}
  <body>
    <section>
      <form action="/check_login" method="POST">
        <legend>EdControle</legend>
        <div class="aux">
          <div class="fa-solid fa-user">
            <input type="text" name="user" required placeholder="USUÁRIO" />
          </div>
          <div class="fa-solid fa-lock">
            <input type="password" name="password" required placeholder="SENHA" />
            <span class="fa-solid fa-eye-slash" onclick="Password()"></span>
          </div>
        </div>
        <button type="submit">Entrar</button>
      </form>
    </section>
  </body>
</html>
