{% import "componets.html" as componets %}
<!DOCTYPE html>
<html>
  {{ componets.head("Cadastrar Vendedor", "insert_seller.css") }}
<body>
  <section>
    {{ componets.header(session['user']) }}
    <main>
      <h1>CADASTRAR VENDEDOR</h1>
      <form action="/insert_seller" method="post">
        <div>
          <label for="">Usuário</label>
          <input name="user" type="text" />
        </div>
        <div>
          <label for="">Número de celular</label>
          <input name="phone_number" type="text" />
        </div>
        <div>
          <label for="">E-mail</label>
          <input name="e_mail" type="text" />
        </div>
        <div>
          <label for="">Senha</label>
          <input name="password" type="text" />
        </div>
        <button>CADASTRAR</button>
      </form>
    </main>
  </section>
</body>
</html>