{% import "componets.html" as componets %}
<!DOCTYPE html>
<html>
  {{ componets.head("Estoque", "list_products.css") }}
<body>
    <section>
      {{ componets.header(session['user']) }}
      <main>
        <form action="/sell_products" method="POST" class="table">
          <div class="button-area">
            <div>
              <span class="fa-solid fa-plus"></span>
              <a href="/insert_products">Adicionar</a>
            </div>
          </div>
          <div class="form">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Tamanho</th>
                  <th>Quantidade</th>
                  <th>Situação do Estoque</th>
                  <th>Seção</th>
                  <th>Preço de compra</th>
                  <th>Preço de venda</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for p in product %}
                <tr>
                  <td>
                    <input
                      name="sell_products"
                      value="{{p.id}}"
                      type="checkbox"
                    />
                  </td>
                  <td>{{p.id}}</td>
                  <td>{{p.title}}</td>
                  <td>{{p.size}}</td>
                  <td>{{p.quantity}}</td>
                 
                  <td>_</td>
                  <td>{{p.category}}</td>
                  <td>{{p.purchase_price}}</td>
                  <td>{{p.sale_price}}</td>
                  <td>
                    <a class="fa-solid fa-trash" href="/delete_products"></a>
                    <a class="fa-solid fa-square-pen" href="/update_products"></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="button-vender">
            <button>Vender</button>
          </div>
        </form>
      </main>
    </section>
</body>
</html>
