{% import "componets.html" as componets %}
<!DOCTYPE html>
<html>
  {{ componets.head("Cadastrar Produto", "insert_products.css") }}
<body>
  <section>
    {{ componets.header(session['user']) }}
    <main>
      <form action="/insert_products" method="post">
        <div>
          <label for="title"></label>
          <input
            name="title"
            id="title"
            type="text"
            required
            placeholder="Nome do produto"
          />
        </div>
        <div>
          <label for="size"></label>
          <select required name="size" id="size">
            <option value="" disabled selected hidden>Tamanho do produto</option>
            {% for s in size %}
            <option value="{{s.id}}">{{s.size}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="quantity"></label>
          <input
            name="quantity"
            type="number"
            id="quantity"
            required
            placeholder="Quantidade do produto"
          />
        </div>
        <div>
          <label for="purchase_price"></label>
          <input
            name="purchase_price"
            id="purchase_price"
            type="number"
            required
            placeholder="Preço de compra"
          />
        </div>
        <div>
          <label for="category"></label>
          <select required name="category" id="category">
            <option value="" disabled selected hidden>Categoria do produto</option>
            {% for c in category %}
            <option value="{{c.id}}">{{c.category}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="price"></label>
          <input
            name="price"
            type="number"
            id="price"
            required
            placeholder="Preço de venda"
          />
        </div>
        <div>
          <label for="description"></label>
          <input
            name="description"
            type="text"
            required
            placeholder="Descrição do produto"
          />
        </div>
        <button>CADASTRAR</button>
      </form>
    </main>
  </section>
</body>
</html>
